
// ====================================================

/* STRUCTURE */

// ====================================================

$structure-page-width = 80%
$structure-page-margin = 10%

$structure-block-padding = 2rem
$structure-block-margin = 2rem

$structure-title-height = 4rem
$structure-text-height = 2rem

// ====================================================

clearfix()
  clear: both
  overflow: hidden

structure-page()
  width: $structure-page-width
  margin: 0 $structure-page-margin

structure-image($size)
  float: left
  width: $size
  height: $size
  margin-right: ($size/2)
  background-color: $color-green
  border-radius: 50%

structure-block()
  padding: $structure-block-padding
  margin: $structure-block-margin
  border: 1px solid

structure-block-title()
  float: left
  height: $structure-title-height
  line-height: ($structure-title-height*3/4)
  font-size: $font-heading

structure-block-row()
  clearfix()
  width: 100%

structure-block-text()
  float: left
  height: $structure-text-height
  line-height: $structure-text-height

//===================================================