
//===================================================

// VARS

//===================================================

// colors

$color-light = white
$color-font = #2c3e50

$color-green = #3FC986
$color-orange = #D68A43
$color-yellow = #E0DF3A
$color-blue = #4866DB
$color-pink = #DE2EC3

//===================================================

// typography

$font-heading = 2rem
$font-subheading = 1.2rem
$font-nav = 1.2rem

//===================================================