
// ====================================================

/* QUESTIONS */

// ====================================================

$answer-text-width = 60%

// ====================================================

.questions
  profile-row()

.question
  structure-block()

.question__title
  structure-block-title()

.answers
  clearfix()

.answers__head
  structure-block-row()

.answers__text
  structure-block-text()
  width: $answer-text-width

.answers__me
  structure-block-text()
  width: 20%
  
.answers__others
  structure-block-text()
  width: 20%
  
.answer
  structure-block-row()

.answer__text
  structure-block-text()
  width: $answer-text-width
  
.answer__me
  structure-block-text()
  width: 20%
  
.answer__others
  structure-block-text()
  width: 20%

.answers__weight_text
  structure-block-text()
  width: $answer-text-width

.answers__weight__input
  structure-block-text()

.result__summary
  structure-block-row()

.result__summary__answer
  structure-block-text()
  width: $answer-text-width

.result__summary__accepts
  structure-block-text()
  width: $answer-text-width

.result__summary__score
  structure-block-text()
  width: $answer-text-width

.result__answer
  structure-block-text()
  border: 1px solid
  margin: 1rem

.result__answers
  clearfix()

//===================================================